{% extends "_layouts/auth.html.twig" %}
{% block content %}
<div class="message_box">
        {% if error %}
        <h2>Error!!</h2>
        <p>{{error}}</p>
        {% else %}
        <h2>Congratulations!!</h2>
        <p>Your account is active now. We thank you for registering and look forward to see you using our system.</p>
        <p>You can now <a href="{{base_url()}}auth/login">login</a> to view your dashboard.</p>
        {% endif %}
        </div>
{% endblock %}