{% extends "_layouts/auth.html.twig" %}
{% block content %}
<div class="message_box">
    
        <section class="login_box">
            <form action="" method="post">
        {{form_error('email')|raw}}
                    <p><input type="text" name="email" placeholder="Email"></p>
                    <p class="button_submit"><input type="submit" value="Submit"></p>
                </form>
        </section>
    </div>
{% endblock %}
