{% extends "_layouts/auth.html.twig" %}
{% block content %}
<div class="message_box">
    <h2>Congratulations!!</h2>
    <p>You have registered on our system and are just one step away to manage your profile. Please visit your email address to activate your account.</p>
</div>
{% endblock %}