{% extends "_layouts/application.html.twig" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="table_head"><h6><i class="icon-th"></i>All Logs</h6></div>
<table class="table table-condensed table-bordered table-striped" id="datatables">
    <thead>
        <tr>                        
            <th>Table</th>            
            <th>Details</th>            
            <th>Date</th>            
            
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
            <tr>                    
                <td>{{log.table|capitalize}}</td>
                <td>{{log.details|capitalize}}</td>          
                <td>{{log.created_at|date('m-d-Y')}}</td>                
            </tr>
        {% endfor %}
        </tbody>    
    </table>
{% endblock %}