{% extends "_layouts/application.html.twig" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
    <style type="text/css">        
        .form-horizontal {      
            padding: 1%;            
            border: 1px solid #e5e5e5;
        }

    </style>
    <div class="row-fluid">        
        <form class="form-horizontal span8 offset1" method="post" action="{{action}}">            
            <fieldset>
                <legend>Update Password <i>*</i></legend>
                <div class="control-group">
                    <label class="control-label" for="old">Old Password</label>
                    <div class="controls">
                        <input name="old" type="password" class="input-block-level" value="" >
                    </div>
                </div> 
                <div class="control-group">
                    <label class="control-label" for="password">New Password</label>
                    <div class="controls">
                        <input name="password" type="password" class="input-block-level" value="" >
                    </div>
                </div> 
                <div class="control-group">
                    <label class="control-label" for="cpassword">Cofirm Password</label>
                    <div class="controls">
                        <input name="cpassword" type="password" class="input-block-level" value="" >
                    </div>
                </div> 
                <button class="btn btn-success" type="submit" name="submit">Create</button>
            </fieldset>
        </form>

    </div> <!-- /container -->

{% endblock %}